## List

In [1]:
#indexing a string
mylist = ['one','two', 'three']
mylist[1]

'two'

In [3]:
# add four to the list
mylist.append('four')
mylist

['one', 'two', 'three', 'four', 'four']

In [5]:
# take out the four
mylist.pop()
mylist

['one', 'two', 'three', 'four']

In [6]:
# make the one string capital
mylist[0]='ONE'
mylist

['ONE', 'two', 'three', 'four']

In [7]:
# take out three from the list
mylist.pop(2)
mylist

['ONE', 'two', 'four']

In [11]:
# sort the given numbers in a list
numlist =[0,4,5,8,6,7,9]
numlist.sort()
numlist

[0, 4, 5, 6, 7, 8, 9]

In [13]:
# reverse the list
numlist.reverse()
numlist

[9, 8, 7, 6, 5, 4, 0]

## Dictionaries

In [18]:
#get the value of item 1 and then make it capital letters
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict['key3'][1].upper()

'ITEM1'

In [26]:
# Dictionary nested inside a dictionary nested inside a dictionary get value and make lower case
d = {'key1':{'nestkey':{'subnestkey':'VALUE'}}}
d['key1']['nestkey']['subnestkey'].lower()

'value'

## Tuples

In [27]:
# Create a tuple
t = (1,2,3)

In [28]:
# Use indexing just like we did in lists
t[0]

1

In [30]:
# Use .index to enter a value and return the index
t.index(1)

0

In [31]:
# Use .count to count the number of times a value appears
t.count(2)

1

## Sets

In [32]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [36]:
set(list1) # here only unique values would be passed no repeated values

{1, 2, 3, 4, 5, 6}

In [37]:
set('Mississippi')

{'M', 'i', 'p', 's'}