In [1]:
s={2,3,2,2,4,7,8}
print(s)

{2, 3, 4, 7, 8}

In [2]:
info = {"Carla", 19, False, 5.9}
for i in info :
    print(i)

False
19
Carla
5.9

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
cities.update(cities2)
print(cities3)
print(cities,cities2)

{'Tokyo', 'Seoul', 'Kabul', 'Delhi', 'Berlin', 'Madrid'}
{'Tokyo', 'Seoul', 'Kabul', 'Delhi', 'Berlin', 'Madrid'} {'Seoul', 'Madrid', 'Tokyo', 'Kabul'}

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
cities.update(cities2)
print(cities3)
print(cities)

{'Tokyo', 'Seoul', 'Kabul', 'Delhi', 'Berlin', 'Madrid'}
{'Tokyo', 'Seoul', 'Kabul', 'Delhi', 'Berlin', 'Madrid'}

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

{'Madrid', 'Tokyo'}

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Madrid', 'Tokyo'}

In [11]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

{'Seoul', 'Kabul', 'Delhi', 'Berlin'}

In [12]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

{'Seoul', 'Kabul', 'Delhi', 'Berlin'}

In [13]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

{'Berlin', 'Madrid', 'Tokyo'}

In [14]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))

{'Berlin', 'Madrid', 'Tokyo'}